@model EnverSoft.SupplierConnect.Domain.ViewModels.SupplierCreateEditViewModel
<section class="content">

    <div class="row">
        <div class="col-md-6" style="padding-left:40px;">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Add New Supplier</h3>
                </div>
                <div class="card-body p-0">
                    <form id="supplierform" asp-action="Create">
                        <div class="card-body">
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">
                                    @ViewBag.Message
                                </div>
                            }
                            <div class="form-group">

                                <label asp-for="@Model.Name" class="control-label"></label>
                                <input asp-for="@Model.Name" class="form-control"/>
                                <span asp-validation-for="@Model.Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.TelephoneNo" class="control-label"></label>
                                <input asp-for="@Model.TelephoneNo" class="form-control"/>
                                <span asp-validation-for="@Model.TelephoneNo" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary"/>
                            </div>
                            <a asp-action="index">Return back to list of suppliers</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

@section commonScripts
{
    <partial name="_CommonScripts" />
}